header {
  position:fixed;
  top: 0;
  left: 0;
  z-index: 100;
  margin: auto;
  width: 100%;
}

nav {
  padding: 15px;
  background-color: #020108;
  display:flex;
  justify-content: space-between;
}

#hero {
  padding-top: 50px;
  background-image: url(files/funsies3.png);
  background-size: cover;
  background-position: 0% 30% ;
  color: #ffa825;

  min-height: 400px;
  /*parallax*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }

 #hero {
  display:flex;
  flex-direction: column;
  justify-content: center;
 }

body {
  display: flex;
  flex-direction: column;
  background-color: #020108;
  color: #ece6e6;
  font-family: 'Roboto', sans-serif;
 }

 #menu-links {
  display: flex;
  align-items: center;

 }
 #menu-links > p {
  border: 1px solid rgba(66, 64, 64, 0.911);
  border-radius: 10%;
 }
 #socials {
  display: flex;
  align-items: center;
  gap: 5%;
 }

#socials > img {
  width:5vw;
  filter: brightness(0) invert(1);
 }



 #intro {
  display: flex;
  justify-content: center;
  gap: 2%;
  padding-right: 10px;
  padding-left: 10px;
}


#resume {
  margin-left: auto;
}

img#partay {
  width: 22%;
  border-radius: 10%;
  order:1;
  min-width: none;
  align-self: center;
}

#aboutme {
  display: flex;
  padding: 15px;
}

img#chloe{
  clip-path: circle();
  width: 35%;
  order: -1;
  align-self: center;
}

img#oakland{
  width:20%;
  filter: brightness(0) invert(1);
  align-self: center;
}

div.container {
  display:flex;
  flex-direction:column;
  align-items: center;
}

div.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
}

footer{
  display:flex;
  justify-content: flex-end;
}

/*fonts*/

h2:not(#hero h2) {
  color: #FBED24;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: #FBED24;
}

