body {
  display: flex;
  flex-direction: column;
  background-color: #023047;
  color: aliceblue;
}
nav {
  display: flex;
  color: #e9c46a;
  gap: 10px;
}

#intro {
  display: flex;
  gap: 10%;
}

img#partay {
  width: 20%;
  border-radius: 10%;
}